# Ignore virtual environment
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django database files
*.sqlite3

# Ignore environment variable files
.env

# Ignore other unnecessary files
*.log
*.pot
*.pyc
*.pyo
*.pyd
.DS_Store
